@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Shrikhand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Fira Code", monospace;
  line-height: 1.6;
}

.site-wrapper {
  min-width: 300px;
}

.site-content {
  max-width: 1200px;
  margin: auto;
}

.header-wrapper {
  background-color: lightcoral;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  padding: 3rem;
}

.section-content {
  padding: 2rem 1rem;
}

p {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

h1 {
  font-size: clamp(3rem, 1rem + 10vw, 6rem);
  letter-spacing: 0.1em;
  font-family: "Shrikhand", cursive;
  line-height: 1;
}

.btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-family: "Fira Code", monospace;
  line-height: 1.6;
  min-width: 10rem;
}

.scale-background-on-hover {
  position: relative;
}
.scale-background-on-hover::after {
  background-color: salmon;
  border-radius: 8px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 250ms;
}
.scale-background-on-hover:hover::after {
  transform: scale(1.1);
}

.cols-split {
  column-gap: 4rem;
}

@media screen and (min-width: 600px) {
  .cols-split {
    columns: 2;
  }

  .section-content {
    padding: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  .cols-split {
    columns: 3;
  }
}
