@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Shrikhand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: dashed red 1px; */
}

:root {
  /* Variables */
  --color-primary: #5100fe;
  --color-whiteish: #eee;
  --menubar-height: 4rem;

  --padding-x: 1rem;
  --padding-y: 2rem;

  --site-max-width: 1600px;

  /* Properties */
  font-size: 16px;
  line-height: 1.6;
  font-family: "Fira Code", monospace;
  background-color: var(--color-whiteish);
  scroll-behavior: smooth;
}

/* topbar */

.topbar__bg {
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: var(--color-primary);
  height: var(--menubar-height);
  box-shadow: 0px 4px var(--color-whiteish);
}

.topbar__container {
  max-width: var(--site-max-width);
  height: 100%;
  padding: 0 var(--padding-x);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.topbar__navigation {
  /* width: 100%; */
}

.topbar__navigation ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: baseline;
}

.topbar__navigation li {
  display: inline;
  margin-bottom: 2rem;
}

.topbar__navigation a {
  color: var(--color-whiteish);
  /* font-size: 2rem; */
}

.topbar__navigation a:hover {
  /* color: red; */
  /* font-size: 2rem; */
}

/* Compensation for topbar height. Used by other sections */
.topbar--compensation {
  padding-top: var(--menubar-height);
}

#section-home {
  background-color: var(--color-primary);
  /* background-color: salmon; */
  height: calc(100vh - 16px);
}

#section-home h1 {
  position: relative;
  display: inline-block;
  left: 50%;
  top: 50%;
  font-size: 3rem;
  translate: -50% -50%;
}

.the-story-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
}

.the-story-container > * {
  /* background-color: red; */
  width: 100%;
}

.the-story-container img {
  object-fit: cover;
  width: 100%;
  max-height: 80vh;
  /* height: 50vw; */
  /* width: 100%; */
  /* height: auto; */
  display: block;
}

.site-center {
  max-width: var(--site-max-width);
  margin: auto;
}

h2 {
  max-width: var(--site-max-width);
  color: var(--color-primary);
  font-size: 2rem;
  padding: var(--padding-y) var(--padding-x);
  font-weight: 400;
}

.text-block {
  max-width: var(--site-max-width);
  padding: var(--padding-y) var(--padding-x);

  color: var(--color-whiteish);
  /* max-width: 50rem; */
}

.the-music-container {
  max-width: var(--site-max-width);
  margin: auto;
  padding: 0 var(--padding-x);
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-gap: 32px;
}

.album-card {
  /* padding: 0px 32px; */
  margin: auto;
  height: 100%;
}

.album-card__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 400px;
  padding: 4px;
  color: var(--color-primary);
  border: var(--color-primary) solid 4px;
  box-shadow: 4px 4px var(--color-whiteish), 8px 8px var(--color-primary);
}

.album-card__item img {
  width: 100%;
  padding: 16px;
  background-color: var(--color-primary);
}

.album-card__item__info-flex {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  height: 100%;
}

.album-card__item__title {
  /* height: 10rem; */
  margin: 16px;
  font-size: 1.5rem;
  overflow: scroll;
  flex: 1;
}

.album-card__item__title--smaller {
  font-size: 1rem;
}

.album-card__item__year {
  margin: 16px;
  font-size: 1rem;
}

.album-card__item__spotify-iframe {
  /* background-color: var(--color-primary); */
  margin: 16px;
}

.section-footer {
  height: 100px;
  margin-top: 64px;
  background-color: var(--color-primary);
}

@media screen and (min-width: 48rem) {
  :root {
    --padding-x: 4rem;
    --padding-y: 2rem;
  }

  .the-story-container > * {
    /* width: 50%; */
  }

  h2 {
    font-size: 4rem;
  }

  .text-block {
    columns: 2;
    column-gap: calc(var(--padding-x) / 2);
  }

  .the-music-container {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}

@media screen and (min-width: 80rem) {
  .text-block {
    columns: 3;
    column-gap: calc(var(--padding-x) / 2);
  }
}
