@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Shrikhand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: dashed red 1px; */
}

:root {
  /* Variables */
  --color-primary: #5100fe;
  --color-whiteish: #eee;

  --padding-x: 1rem;
  --padding-y: 2rem;

  --navigation__circle-size: 32px;
  --navigation__circle-size--open: 120vh;
  --navigation__circle-margin: 16px;
  --navigation__topbar-height: 3rem;

  --site-max-width: 1600px;
  scroll-behavior: smooth;

  /* Properties */
  font-size: 16px;
  line-height: 1.6;
  font-family: "Fira Code", monospace;
  background-color: var(--color-whiteish);
}

/* Navigation */

.navigation {
  clip-path: circle(
    var(--navigation__circle-size) at
      calc(
        100% - var(--navigation__circle-size) - var(--navigation__circle-margin)
      )
      calc(var(--navigation__circle-size) + var(--navigation__circle-margin))
  );
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  transition: clip-path 500ms;
  touch-action: none;
}

.navigation--open {
  clip-path: circle(
    var(--navigation__circle-size--open) at
      calc(
        100% - var(--navigation__circle-size) - var(--navigation__circle-margin)
      )
      calc(var(--navigation__circle-size) + var(--navigation__circle-margin))
  );
}

.navigation__darken {
  flex: 1;
  /* width: 100%; */
  background-color: rgba(0, 0, 0, 0.5);
}

/* Navigation: Menu */

.navigation__menu {
  width: 100%;
  max-width: 320px;
  background-color: var(--color-primary);
  box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.8);

  height: 100%;
  padding: 128px 64px 128px 64px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.navigation__menu__logo {
  width: 100%;
  max-width: 340px;
}

.navigation__menu ul {
  list-style: none;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.navigation__menu a {
  color: var(--color-primary);
  color: var(--color-whiteish);
  font-size: 2rem;
  text-decoration: none;
}

.navigation__menu a:hover {
  text-decoration: underline;
}

/* Navigation: Hamburger */

.navigation__hamburger {
  position: absolute;
  width: calc(var(--navigation__circle-size) * 2);
  height: calc(var(--navigation__circle-size) * 2);
  top: var(--navigation__circle-margin);
  right: var(--navigation__circle-margin);
  cursor: pointer;
}

.navigation__hamburger__lines {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 20px;
  height: 12px;
}

.navigation__hamburger__line {
  background-color: var(--color-primary);
  background-color: var(--color-whiteish);
  position: absolute;
  width: 100%;
  height: 2px;
  transition: 300ms;
}

.navigation__hamburger__line:nth-child(1) {
  width: calc(100% - 4px);
}

.navigation__hamburger__line:nth-child(2) {
  top: 5px;
}
.navigation__hamburger__line:nth-child(3) {
  top: 10px;
}

.navigation--open .navigation__hamburger__line:nth-child(1) {
  opacity: 0;
}

.navigation--open .navigation__hamburger__line:nth-child(2) {
  rotate: 45deg;
}
.navigation--open .navigation__hamburger__line:nth-child(3) {
  top: 5px;
  rotate: -45deg;
}

/* Section: Home */

#section-home {
  position: relative;
  background-color: var(--color-primary);
  background-color: var(--color-whiteish);
  height: 100vh;
}

.section-home__video-bg {
  mix-blend-mode: darken;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#section-home h1 {
  display: inline-block;
  left: 50%;
  top: 50%;
  font-size: 3rem;
  translate: -50% -50%;
}

.the-story-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
}

.the-story-container > * {
  width: 100%;
}

.the-story-container img {
  object-fit: cover;
  width: 100%;
  max-height: 80vh;
  display: block;
}

.site-center {
  max-width: var(--site-max-width);
  margin: auto;
}

h2 {
  max-width: var(--site-max-width);
  color: var(--color-primary);
  font-size: 2rem;
  padding: calc(var(--padding-y) + 3rem) var(--padding-x) var(--padding-y);
  font-weight: 400;
}

.text-block {
  max-width: var(--site-max-width);
  padding: var(--padding-y) var(--padding-x);
  color: var(--color-whiteish);
}

.the-music-container {
  max-width: var(--site-max-width);
  margin: auto;
  padding: 0 var(--padding-x);
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-gap: 64px;
}

.album-card {
  margin: auto;
  height: 100%;
}

.album-card__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 400px;
  padding: 4px;
  color: var(--color-primary);
  border: var(--color-primary) solid 4px;
  box-shadow: 4px 4px var(--color-whiteish), 8px 8px var(--color-primary);
}

.album-card__item img {
  width: 100%;
  padding: 16px;
  background-color: var(--color-primary);
}

.album-card__item__info-flex {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  height: 100%;
}

.album-card__item__title {
  margin: 16px;
  font-size: 1.5rem;
  overflow: scroll;
  flex: 1;
}

.album-card__item__title--smaller {
  font-size: 1rem;
}

.album-card__item__year {
  margin: 16px;
  font-size: 1rem;
}

.album-card__item__spotify-iframe {
  margin: 16px;
}

.section-footer {
  height: 100px;
  margin-top: 64px;
  background-color: var(--color-primary);
}

/* Desktop ish */
@media screen and (min-width: 768px) {
  :root {
    --padding-x: 4rem;
    --padding-y: 2rem;
  }

  .navigation {
    clip-path: none;
    height: var(--navigation__topbar-height);
    background-color: var(--color-primary);
  }

  .navigation__darken {
    display: none;
  }

  .navigation__hamburger {
    display: none;
  }

  .navigation__menu {
    max-width: var(--site-max-width);
    padding: 0 var(--padding-x);
    background-color: unset;
    box-shadow: none;
    flex-direction: row-reverse;
    align-items: center;
  }

  .navigation__menu__logo {
    width: unset;
    height: calc(var(--navigation__topbar-height) - 1rem);
  }

  .navigation__menu ul {
    flex-direction: row;
  }

  .navigation__menu a {
    font-size: 1rem;
  }

  h2 {
    font-size: 4rem;
  }

  .home-container {
    padding-top: var(--navigation__topbar-height);
  }

  .the-music-container {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}

/* Text column stuff */
@media screen and (min-width: 48rem) {
  .text-block {
    columns: 2;
    column-gap: calc(var(--padding-x) / 2);
  }
}

@media screen and (min-width: 80rem) {
  .text-block {
    columns: 3;
  }
}
